*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav2{
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    background: #a1a1a1;
    z-index: 3;

}

.left-container{
    display: flex;
    align-items: center;
    text-align: center;
    
}
.left-container div{
    margin-left: 15px;
}

.case_name{
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}
.form_name{
    margin-left: 10px;
    margin-top: 15px;
    padding: 2px 12px; 
    background: #fff;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}
.right-container{
    display: flex;
    align-items: center;
    text-align: center;
}
.right-container div{
    padding: 10px;
}
.madal h3{
    color: black;
}
.madal p{
    color: black;
}


.inputs label{
    color: black;
    padding-left: 10px;
}

.gray{
    background: #EEEEEE;
}

.info{
    display: flex;
    padding-bottom: .5rem;
  
}
.modal_header{
    display: flex;
}
.modal_header h3{
    font-weight: bold;
    font-size: 1.5rem;
}
.Premium{
    color: #50B2F9;
    padding-top: 5px;
    padding-left: 6px;
    font-weight: bold;
}
.blue{
    background: #50B2F9;
    color: black;
    padding: 1.5rem;
    border-radius: .5rem;
    margin: 1rem;
 }

 .gray{
    background: #EEEEEE;
    padding: 1.5rem;
    border-radius: .5rem;
    margin: 1rem;
}
.madal{
    margin: 2.5rem;
}
@media all and (max-width: 768px) {

.case_name{
    font-size: 20px;
}
.form_name{
    font-size: 12px;
}

.range{
    width: 100%;
}
.r_container {
    width: 47%;
    background: none;
}
.right-container{
    padding-right: 0px;

}

.form_name{
    margin-top: 2px;
}
.left-container div{
    margin-left: 5px;
}


.madal{
    margin: 0;
}

.modal_header h3 {
    font-size: 1rem;
}
.blue {
    font-size: 0.7rem;
  
}
.gray {
    font-size: 0.7rem;
}
.info p {
    font-size: 0.7rem;
}
}